@import './vars.scss';

.artwork-list-container {
    background: $art-list-background;
    width: 90%;
    margin: 60px 5% 30px;
    display: flex;
    flex-direction: column;
    transform: translateY(0);
    transition: transform $fast;
}

.artwork-list-container-open {
    transform: translateY(200px);
    transition: transform $fast;
}

.art {
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.art-odd {
    @media screen and (min-width: $desktop) {
        flex-direction: row;
        align-items: center;
    }
    .art-info {
        @media screen and (min-width: $desktop) {
            width: 35%;
            margin: 0 0 0 5%;
        }
    }
}

.art-even {
    @media screen and (min-width: $desktop) {
        flex-direction: row-reverse;
        align-items: center;
    }

    .art-info {
        @media screen and (min-width: $desktop) {
            width: 35%;
            margin: 0 5% 0 0;
        }
    }
}

.art-image {
    width: 100%;

    @media screen and (min-width: $desktop) {
        width: 60%;
    }

    img {
        width: 100%;
    }
}

.art-info-container {
    width: 100%;

    @media screen and (min-width: $desktop) {
        width: 100%;
        margin: 0;
    }
}

.art-info {
    margin: 0;

    h1 {
        font-size: 18px;
        font-weight: 800;
        color: $dark;
        width: 100%;
        text-align: center;
        margin: 25px auto 20px;
    }

    p {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.5;
        color: $dark;

        @media screen and (min-width: $desktop) {
            text-align: justify;
        }
    }

    h4 {
        font-weight: 400;
        font-size: 11px;
        line-height: 1.3;
        margin: 0;
        padding: 0;
    }
}

.art-line {
    height: 1px;
    width: 70%;
    background: $dark;
    margin: 20px 0;
    padding: 0;
    opacity: .5
}

.wiki-line {
    height: 1px;
    width: 50%;
    background: $dark;
    margin: 15px 0;
    padding: 0;
    opacity: .3;
}

.wiki-container {
    h5 {
        font-size: 10px;
        color: $dark;
        opacity: .5;
        margin: 0;
        padding: 0;
        font-weight: 300;
    }

    a {
        font-size: 9px;
        color: $dark;
        opacity: .4;
        margin: 0;
        padding: 0;
        font-weight: 400;
        transition: opacity .5s ease-in-out;

        &:hover {
            opacity: .7;
            transition: opacity .5s ease-in-out;
        }
    }
}

.art-to-map-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    cursor: pointer;
    opacity: .7;
    margin: 10px 0 0 0;

    &:hover {
        opacity: 1;
    }

    svg {
        width: 13px;
        height: 13px;
        fill: $dark;
        margin: 0 10px 0 0;
    }

    p {
        margin: 0;
        padding: 0;
        font-weight: 400;
        color: $dark;
    }
}

.artwork-links {
    display: block;
}

.artwork-sold {
    width: 30px;
    height: 30px;
    opacity: .7;

    svg {
        fill: red;
    }
}